<div class="container">
    <h1>Bem-vindo ao Online Book Reader</h1>
    <div class="about">
        <div class="img">
            <img src="../../assets/books.jpg">
        </div>
        <div class="site">
            <h1>Sobre o Leitor de Livro</h1>
            <p>No Leitor de Livro, nossa missão é ajudar você a encontrar o livro perfeito. Se você é um ávido leitor em busca de novas aventuras literárias ou apenas deseja encontrar um livro específico, estamos aqui para facilitar sua busca.</p>
            
            <h2>O que oferecemos</h2>
            <ul>
                <li>Busca Avançada de Livros: Utilize nossa ferramenta de busca para encontrar livros pelo título, autor, ou palavras-chave. Com acesso a uma vasta base de dados de livros, garantimos que você encontrará exatamente o que procura.</li>
                <li>Detalhes Completos: Para cada livro, fornecemos uma descrição detalhada, incluindo título, autores, editora, data de publicação e muito mais. Conheça todas as informações antes de decidir sua próxima leitura.</li>
                <li>Interface Intuitiva: Nosso site foi desenvolvido com foco na facilidade de uso. Em apenas alguns cliques, você terá acesso a um mundo de conhecimento e entretenimento literário.</li>
                <li>Atualizações Constantes: Estamos sempre atualizando nosso catálogo com os lançamentos mais recentes e os clássicos atemporais para garantir que você tenha sempre as melhores opções.</li>
            </ul>
            
            <h3>Seja bem vindo!</h3>
            <a class="nav-link" routerLink="/books">Buscar Livro</a>
        </div>
    </div>
</div>